body {
    background: #604a5d url("img/all_days1.png"); /* Фоновый цвет и фоновый рисунок*/
    color: #ffffff; /*Цвет текста на странице*/
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
    left: 0px;
    top: 0px;
    width: 1500px;
    height: 700px;
    z-index: 1;
}

.a a {
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    color: #fad5bb;
    font-weight: bold;
    text-decoration: none;
}

.a1 a:hover {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
}
table.center {

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;

}