body {
    background: #604a5d url("img/Customer-Journey_Map2.jpg"); /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
}
table.center {

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;

}
table.center td { overflow: hidden; }
.a a {
    padding-right: 28px;

    font-size: 18px;
    color: #fad5bb;
    font-weight: bold
}
.a1 a:hover {
    font-size: 18px;
    color: #c48c87;
    font-weight: bold;
    text-align: center;
    padding-right: 28px;
}
.a2 a {
    color: #fad5bb;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.a3 a:hover {
    color: #c48c87;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.trip_form {
    margin-top: 5%; /* отступ сверху */
    width: 200px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    transform: translate(0, -9%)
}

.trip_caption {
    font-size: 20px;/*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:105%; /*заголовок*/
    height: 7em; /*положение от заголовка*/
    transform: translate(0,50%)
}
.trip_form .trip_infofield {
    margin-top: 1%;
    font-weight: bold;
}

.large_frame { /*большая рамка*/

    margin-top: 1%; /* отступ сверху p */
    width: 500px;
    height: 500px;
    /* outline: 2px solid #ff53; /* темная рамка*/
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    margin-left: auto; /* положение по центру */
    margin-right: auto;
    /*background: #604a5d; /* Цвет фона  */

}
.trip_form input, .trip_form textarea{
    width: 100%;
    margin: 5px 0;
    padding: 5px -0px;
    transform: translate(0, -5%);
    top: 30%;
    outline: 1px solid #ff53; /* Чёрная рамка */
    border: 1px solid #ff53; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

