body {
    background: #faeece url("img/Customerjpg.png"); /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
}

.a a {
    padding-right: 28px;
    text-align: center;
    font-size: 18px;
    color: #fad5bb;
    font-weight: bold
}

.a1 a:hover {
    font-size: 18px;
    color: #c48c87;
    font-weight: bold;
    text-align: center;
    padding-right: 28px;
}

.a2 a {
    color: #fad5bb;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.a3 a:hover {
    color: #c48c87;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.trip_form {

    margin-top: 1%; /* отступ сверху */
    width: 300px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    transform: translate(0, 30%)
}

.trip_form .trip_caption {
    margin-top: 4px; /* тступ текста*/
    font-weight: bold;

}

.trip_caption {
    font-size: 30px; /*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 105%; /*заголовок*/
    height: 3em; /*положение от заголовка*/
    transform: translate(0, 60%)
}

.large_frame { /*большая рамка*/
    margin-top: 10%; /* отступ сверху p */
    width: 500px;
    height: 650px;
    /* outline: 2px solid #ff53; /* темная рамка*/
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    margin-left: auto; /* положение по центру */
    margin-right: auto;
    background: #604a5d; /* Цвет фона  */

}
