
body {
    background: #faeece url("img/Fon _index .png") no-repeat; /* Фоновый цвет и фоновый рисунок*/
    position: absolute;
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
    left: 0px;
    top: 0px;

    z-index: 1;
color: #000; /*Цвет текста на странице*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #604a5d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #006666;
}
.a a {
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.a1 a:hover {
    font-size: 70px;
    color: #006666;
    font-weight: bold;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
}

.a2 a {
    color: #c48c87;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
}

.a3 a:hover {
    color: #006666;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
}