body {
    background: #faeece url("img/Fon _1.1.png") center center no-repeat; /* Фоновый цвет и фоновый рисунок*/
    position: absolute;

    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;


    z-index: 1;
    color: #000; /*Цвет текста на странице*/
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #604a5d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #006666;
}

.a a {
    padding-right: 25px;
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: bold
}

.a1 a:hover {
    font-size: 18px;
    color: #006666;
    font-weight: bold;
    text-align: center;
    padding-right: 25px;
}

.a2 a {
    color: #c48c87;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
}

.a3 a:hover {
    color: #006666;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
}

/* Ссылки на путишествия*/


/*<div class="image"><br><img src="img/log.png" alt="лого" width="750" height="150" align="middle"></br></div>*/

/*<div class="image2"><p><img src="img/fon3.png" alt="лого" width="800" height="800" align="middle"></p></div>
  </div>*/