body {
    background: #faeece url("img/user_menu_fon.png") no-repeat; /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 5%; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
    color: #ffffff; /*Цвет текста на странице*/}

.a  a {  text-align: center;font-size:18px; color:#fff; font-weight:bold }
.a1  a:hover {font-size:18px; color:#c48c87; font-weight:bold ;text-align: center;
    }
.a2 a {
    color: #fad5bb;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.a3 a:hover {
    color: #c48c87;
    font-size:25px;
    font-weight: bold;
    text-decoration: none;}

.large_frame { /*большая рамка*/
    margin-top: 10%; /* отступ сверху p */
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    outline: 3px solid #ff53; /* темная рамка
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    background: #604a5d; /* Цвет фона  */
}
.trip_form {
    margin-top: 8%; /* отступ сверху */
    width: 300px; /* длинна строк */
    margin-left: 15%;
    margin-right: auto;
    width: 20em; /*ширина строк*/
    transform: translate(0, 1%)
}

.trip_caption {
    transform: translate(0px, 30%); /*расстояние от заголовка*/
    font-size: 40px; /*размер шрифта заголовка*/
    text-align: center;
    height: 3em; /*положение заголовка относительно общей таблицы*/

}

.trip_form .trip_infofield {
    margin-top: 4px; /*расстояние между строками*/
    font-weight: 400;

}

.trip_form select, .trip_form input, .trip_form textarea {
    width: 100%;
    margin: 2px 0;
    padding: 10px 8px;
    outline: 1px solid #ff53; /* Чёрная рамка */
    border: 1px solid #ff53; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

.error {
  color: red;
  font-size:20px;
  text-align: center;
  margin-bottom: 20px;
}