body {
    background: #faeece url("img/teh.png"); /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 10%; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size:cover;
}
.a  a { padding-right:28px; text-align: center;font-size:18px; color:#fad5bb; font-weight:bold }
.a1  a:hover {font-size:18px; color:#c48c87; font-weight:bold ;text-align: center;
    padding-right:28px;}
.guruweba_example_form {

    margin-top: -11%; /* отступ сверху */
    width: 300px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    transform: translate(0, -11%)
}
.guruweba_example_caption {
    font-size: 30px;/*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:105%; /*заголовок*/
    height: 7em; /*положение от заголовка*/
    transform: translate(0,50%)
}
.guruweba_example_form .guruweba_example_infofield {
    margin-top: 6px;
    font-weight: bold;

}
.large_frame{ /*большая рамка*/
    margin-top: -7%; /* отступ сверху p */
    width: 450px;
    height: 560px;
    /* outline: 2px solid #ff53; /* темная рамка*/
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    margin-left: auto;/* положение по центру */
    margin-right: auto;
    background: #604a5d; /* Цвет фона  */

}
.guruweba_example_form select, .guruweba_example_form input, .guruweba_example_form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px -0px;
    transform: translate(0, -5%);
    top: 30%;
    outline: 1px solid #ff53; /* Чёрная рамка */
    border: 1px solid #ff53; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}