body {
    background: #faeece url("img/user_menu_fon.png") no-repeat; /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 5%; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
    color: #ffffff; /*Цвет текста на странице*/}

.a a {
    padding-right: 28px;
    text-align: center;
    font-size: 18px;
    color: #faddce;
    font-weight: bold;
    text-decoration: none;

}

.a1 a:hover {
    font-size: 18px;
    color: #fad5bb;
    font-weight: bold;
    text-align: center;
    padding-right: 28px;
    text-decoration: none;
}
.large_frame { /*большая рамка*/
    margin-top: 10%; /* отступ сверху p */
    width: 450px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
     outline: 3px solid #ff53; /* темная рамка
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    background: #604a5d; /* Цвет фона  */
}
.trip_form {
    margin-top: 9%; /* отступ сверху */
    width: 300px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em; /*ширина строк*/
    transform: translate(0, 1%)
}

.trip_caption {
    transform: translate(0px, 40%); /*расстояние от заголовка*/
    font-size: 30px;/*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%; /*заголовок*/
    height: 5em; /*положение от заголовка*/

}

.trip_form .trip_infofield {
    margin-top: 6px; /* отступ сверху для текста*/
    font-weight: bold;

}


.trip_form select, .trip_form input, .trip_form textarea {
    width: 100%;
    margin: 3px 0;
    padding: 10px -0px;
    outline: 1px solid #ff53; /* Чёрная рамка */
    border: 1px solid #ff53; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}
