body {
    background: #faeece url("img/Customerjpg.png"); /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 5%; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size:cover;
}
.a  a { padding-right:0px; text-align: center;font-size:18px; color:#fad5bb; font-weight:bold }
.a1  a:hover {
    font-size:18px; color:#c48c87; font-weight:bold ;text-align: center;
    padding-right:0px;}
.trip_form {

    margin-top: 0%; /* отступ сверху */
    width: 200px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    transform: translate(0, -11%)
}
.trip_caption {
    font-size: 30px;/*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:105%; /*заголовок*/
    height: 7em; /*положение от заголовка*/
    transform: translate(0,60%)
}
.trip_form .trip_infofield {
    margin-top: 2px;
    font-weight: bold;

}
.large_frame{ /*большая рамка*/
    margin-top: -1%; /* отступ сверху p */
    width: 490px;
    height: 870px;
    /* outline: 2px solid #ff53; /* темная рамка*/
    /* border: 3px solid #fff; /* Белая рамка */
    border-radius: 80px; /* Радиус скругления */
    margin-left: auto;/* положение по центру */
    margin-right: auto;
    background: #604a5d; /* Цвет фона  */

}
.trip_form select, .trip_form input, .trip_form textarea {
    width: 100%;
    margin: 3px 0;
    padding: 5px -0px;
    transform: translate(0, -5%);
    top: 30%;
    outline: 1px solid #ff53; /* Чёрная рамка */
    border: 1px solid #ff53; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}