body {
    background: #faeece url("img/user_menu_fon.png") no-repeat; /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    margin: 5%; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover;
    color: #ffffff; /*Цвет текста на странице*/}
.a  a { padding-right:30px; text-align: center;font-size:18px; color:#fff; font-weight:bold }
.a1  a:hover {font-size:18px; color:#c48c87; font-weight:bold ;text-align: center;
    padding-right:28px;}
.a2 a {
    color: #fad5bb;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.a3 a:hover {
    color: #c48c87;
    font-size:25px;
    font-weight: bold;
    text-decoration: none;}
.trip_form {

    margin-top: -11%; /* отступ сверху */
    width: 300px; /* длинна строк */
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    transform: translate(0, -11%)
}
.trip_caption {
    font-size: 30px;/*шрифт заголовка*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%; /*заголовок*/
    height: 4em; /*положение от заголовка*/
    transform: translate(0,93%)
}
.trip_form .trip_infofield {
    margin-top: 6px; /* отступ сверху для текста*/
    font-weight: bold;

}
        .large_frame{ /*большая рамка*/
            margin-top: 0%; /* отступ сверху p */
            width: 450px;
            height: 560px;
            margin-left: auto;
            margin-right: auto;
             outline: 2px solid #ff53; /* темная рамка*/
            /* border: 3px solid #fff; /* Белая рамка */
            border-radius: 80px; /* Радиус скругления */
            background: #604a5d; /* Цвет фона  */

}
.trip_form , .trip_form input, .trip_form textarea {
     width: 100%;
     margin: 15% 25%;/*положение текста от левого края*/
     padding: 5px -0px;
     transform: translate(0, -5%);

 }